{%extends "helpdesk/base.html"%}
{%block content%}
<a href="/helpdesk/{{service}}/tickets/" class="btn">Tickets</a>
<div class="container">
	<div class="row">
		<div class="col m12">
			<h3>{{title}}</h3>
			{%for message in messages%}
			<div class="card">
				<div>
					<span class="left">Fecha: {{message.datetime}}</span>
					<span class="right">Author: {{message.author}}</span></div>
				
				<div class="card-content">

					<img src="{{message.image}}">
					<div class="section">
					{{message.content}}	
					</div>
					
				</div>	
			</div>
			{%endfor%}
			<form action="/helpdesk/{{service}}/tickets/{{id}}/edit/" method="POST">
				{% csrf_token %}
			<label for="content">
				Contenido
				<textarea name="content"></textarea>
			</label>
			<label for="file">
				Adjunto
				<input type="file" name="file">
			</label>
			<input type="submit" value="Enviar" class="btn">	
			</form>

		</div>
	</div>
</div>
{%endblock%}