{%extends "helpdesk/base.html"%}
{%block content%}
<a href="/helpdesk/" class="btn">Servicios</a>
<div class="container">
	<div class="row">
		<div class="col m12">
			<h3>TICKETS</h3>

	{%for ticket in object_list%}
	<div class="card">
		<a href="/helpdesk/{{service}}/tickets/{{ticket.id}}/edit/">
			<div class="card-content">
				<img src="">
				<label class="card-title">{{ticket.name}}</label>
				<div>
					{{ticket.description}}
				</div>
			</div>	
		</a>
		
	</div>
	{%endfor%}
		</div>
	</div>
	
</div>
{%endblock%}